@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-deep: rgb(44, 105, 117);
  --color-seafoam: rgb(104, 178, 160);
  --color-sage: rgb(205, 224, 201);
  --color-mint-cream: rgb(224, 236, 222);
  --color-gray: rgb(122, 122, 122);
  --color-charcoal: rgb(54, 69, 79);
}

@layer base {
  body {
    background-color: var(--color-mint-cream);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

  h2 {
    font-size: 20px
  }

  p {
    font-size: 14px;
  }
}

.btn-primary {
  @apply bg-deep text-white uppercase rounded-full text-center py-1 cursor-pointer hover:bg-white hover:border hover:text-deep
}

.btn-secondary {
  @apply bg-gray-200 text-charcoal flex items-center gap-2 text-sm px-2 rounded-full cursor-pointer
}

.btn-label {
  @apply flex items-center gap-2 text-sm px-2 rounded-full
}

.desc {
  @apply text-gray
}